# Файл зависимостей проекта
# Содержит список всех внешних библиотек Python с зафиксированными версиями
tkinter 8.6 # Библиотека для которая содержит компоненты графического интерфейса пользователя (GUI)
# Версия 8.6 гарантирует плавность, стабильность и кроссплатформерность
random 3.14.2 # Библиотека генератора псевдослучайных чисел
